body{
		font-family:Gadget, sans-serif;
	}
	
a{
	text-decoration:none;
	font-weight:none;
}

a:link{
		color:blue;
}

a:visited{
		color:blue;
}

a:hover{
		text-decoration:underline;
		background-color:#CAFF70;
}	

a:active{
		color:red;
		text-decoration:none;
}

li{
	margin-left:280px;
	font-size:14px;
	font-style:italic;
}

table, th, td {	
				border: 2px solid black;
				border-collapse: collapse;
				padding: 2px;
				margin-left:auto;
				margin-right:auto;
				font-size:14px;
				text-align:center;
			}

 thead th{
	background-color:#d9d9d9;
 }

/* tried hover-over bold effect in table row - begin*/
tbody tr:hover{
	font-weight:bold;
	font-size:18px;
}
/* tried hover-over bold effect in table row - end*/

tbody  tr:nth-child(even){
	background-color:#ffd280;
	font-style:italic;

}

tbody  tr:nth-child(odd){
	background-color:#00CCFF;
	font-style:italic;

}						

/* use image as a div's background - begin*/			
#bgimg {
		width:450px;
		height:450px;
		padding: 5px;
		border: 2px solid black;
		border-collapse: collapse;
		background-image: url("images/division_bell.jpg"); 
		background-size: 450px 450px;
		background-repeat: no-repeat;
		background-position:center;
		background-attachment: scroll;
		margin-left:auto;
		margin-right:auto;
	}
/* use image as a div's background - end*/

/* Embedded font - begin*/
@font-face {
	font-family: 'SansationLight';
	src: url('./SansationLight/SansationLight.eot');
	src: local('SansationLight'), url('./SansationLight/SansationLight.woff') format('woff'), url('./SansationLight/SansationLight.ttf') format('truetype');
}
/* Embedded font - end*/

		
			
